{% extends 'base.html' %}

<!DOCTYPE html>

<html lang="en">
<head>
    
    <title>FoodPointMain</title>
    <link rel="stylesheet" href='../../../static/css/Main.css'>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <div>
        <br><br><br><br><br><br><br>
        <h3 style="font-family: 'GowunDodum-Regular'; text-align: center;">
            지금까지  열심히 살아온 당신을 위해 -<br><br>
            이젠 당신을 위한 보물을 찾아보세요<br>
            일상속 보물찾기 YOLO ver.5060
        </h3> 
        <br><br><br><br>
        <h2 style="font-family: 'WandohopeB'; text-align: center;"> 보물찾기 </h2>
        <hr>
    </div>
    <div class="ment2" >
        <p style="font-family: 'Cafe24Danjunghae'; font-size: 40px; text-align: center; padding-top: 40px;">" 당신이 찾는 보물은 무엇인가요? "</p>
        <div style="border-right: black 2px solid; height: 100px;  width: 50%;" ></div>
        <div style="display: flex;">
            <p style="font-family: 'GowunBatang-Regular'; font-size: 30px;">내 욜로를 자랑해요</p>
            <div style="width: 150px; height: 100px; background-color: rgb(177, 177, 214);"><p style="font-family: 'GowunBatang-Regular'; font-size: 30px;">MyYolo</p></div>
        </div>
    </div>
    {% endblock %}
</body>
</html>

